:root {
  /* Black and opacity variants */
  --color-black: rgba(0, 0, 0, 1);
  --color-black-8: rgba(0, 0, 0, 0.08);
  --color-black-12: rgba(0, 0, 0, 0.12);
  --color-black-16: rgba(0, 0, 0, 0.16);
  --color-black-32: rgba(0, 0, 0, 0.32);
  --color-black-40: rgba(0, 0, 0, 0.4);
  --color-black-50: rgba(0, 0, 0, 0.5);
  --color-black-60: rgba(0, 0, 0, 0.6);
  --color-black-72: rgba(0, 0, 0, 0.72);

  /* White and opacity variants */
  --color-white: rgba(255, 255, 255, 1);
  --color-white-8: rgba(255, 255, 255, 0.08);
  --color-white-12: rgba(255, 255, 255, 0.12);
  --color-white-16: rgba(255, 255, 255, 0.16);
  --color-white-32: rgba(255, 255, 255, 0.32);
  --color-white-40: rgba(255, 255, 255, 0.4);
  --color-white-50: rgba(255, 255, 255, 0.5);
  --color-white-60: rgba(255, 255, 255, 0.6);
  --color-white-72: rgba(255, 255, 255, 0.72);

  /* Light grey */
  --color-light-grey: rgba(250, 250, 250, 1);

  /* Baby blue */
  --color-baby-blue-16: rgba(66, 165, 245, 0.16);
}
